.error-message {
    color: var(--ion-color-danger);
  }
  
  .success-message {
    color: var(--ion-color-success);
  }
  
  .go-to-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-btn {
    margin-top: 40px;
  }
  
  ion-title {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 44px;
    bottom: 4px;
  
    img {
      height: 40px;
    }
  }